<!DOCTYPE html>
<html>
  <head>
    <title>Schedular</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      .downloadcard {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-top: 20%;
      }
      img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
      }
      body {
        background-color: #fbfbfb;
      }
      a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card downloadcard" style="width: 30rem">
        <div class="card-body">
          <div class="text-center">
            <h2>Job Done</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
